<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		>
		<title>Document</title>
	</head>

	<body>
		<!--<script>
			let str = "vue"
			if (str === 'vue') {
				console.log('vue');
			}
			if (str === 'anguler') {
				console.log('anguler');
			}
			if (str === 'react') {
				console.log('react');
			}
		</script>
		<script>
			let str2 = "vue"
			let arr = ['vue', 'anguler', 'react']
			if (arr.includes(str2)) {
				console.log(str2);
			}
		</script>-->
		<!--<script>
			let str3 = "vue"
			let fn = function () {
				console.log('item');
			}
			let fn2 = function () {
				console.log('item');
			}
			let fn3 = function () {
				console.log('item');
			}
			let map = new Map([
				['vue', (item) => { console.log(item); }],
				['anguler', (item) => { console.log(item); }],
				['react', (item) => { console.log(item); }]
			])
			map.get(str3)(str3)

		</script>-->
		<!--<script>
			let str='vue'
			let obj={
				'vue':function(item){console.log(item);},
				'js': function (item) { console.log(item); },
				'css': function (item) { console.log(item); },
			}
			obj[str](str)
		</script>-->
		<!-- 三木运算符取代if...else -->
		<!--<script>
			let a='vue'
			if (a) {
				console.log('vue');
			}else{
				console.log('not vue');
			}
			a? console.log('vue'): console.log('not vue')
		</script>-->
		<!-- &&运算符取代单if -->
		<script>
			let a ="vue"
			if (a==='vue') {
				console.log('vue');
			}
			a==='vue'&&console.log('vue')
		</script>
	</body>

</html>
